

/* -------------  General Styles -------------- */

body {
	background:#000000;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height: 12px;
}
a img {
	border:0px;
}
a:link, a:visited {
	color:#fff;
	text-decoration: none;
}
a:hover {
	color:#3cc5e7;
	text-decoration: none;
}

.blackText {
	color:#000000;
}
.bold {
	font-weight:bold;
}

.subText_80 {
	padding-top:10px;
	font-size:80%;
}

