

/* -------------  General Styles -------------- */

body {
	background:#000000;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
a img {
	border:0px;
}
a:link, a:visited {
	color:#fff;
	text-decoration: none;
}
a:hover {
	color:#3cc5e7;
	text-decoration: none;
}

.blackText {
	color:#000000;
}
.bold {
	font-weight:bold;
}

/* -------------  Login Page -------------- */

#wrapper_login {
	width:1250px;
	height:977px;
	margin:0px auto;
	padding:0px;
	background:transparent url(../images/bg_dj_v1_1250w.png) center top no-repeat;
	position:relative;
}
#login_header {
	min-height:245px;
	position:relative;
	background: transparent url(../images/bg_login_header_v1.png) top left no-repeat;
}
#login_logo {
	position:absolute;
	bottom:0px;
	left:15px;
}
#login_box {
	background:#000000;
	min-height:103px;
	position:relative;
	padding:10px 20px;
}
#login_register {
	width:123px;
	height:123px;
	position:absolute;
	top:0px;
	right:0px;
}
#login_form {
	padding:10px 0px;
}
#login_form input {
	width:225px;
}
#login_form input[type=submit] {
	width:80px;
}

.subText_80 {
	padding-top:10px;
	font-size:80%;
}
#login_nowplaying {
	
}
#leftActionBox {
	width:135px;
	position:absolute;
	left:px;
	top:245px;
	border:1px solid #000;
	border-left:0px;
}
.action a {
	background:#272627;
	display:block;
	padding:15px 10px;
	font-size:90%;
	border-bottom:1px solid #000;
}

#login_artists {
	width:733px;
	position: absolute;
	bottom:0px;
	right:0px;
	min-height:122px;
}
.iconBox {
	width:122px;
	height:122px;
	float:left;
	padding:0px;
	margin:0px;
	position:relative;
}
.iconName {
	position:absolute;
	bottom:0px;
	left:0px;
	width:100px;
	padding:3px;
	background:#2b2b2b;
	font-size:65%;
	
}
#socialMedia {
	position:absolute;
	bottom:20px;
	left:15px;
}
.socialIcons {
	width:30px;
	height:30px;
	float:left;
	padding:0px 5px;
}



/* -------------  Main Screen Page -------------- */

#wrapper {
	width:1250px;
	height:1064px;
	margin:0px auto;
	padding:0px;
	position:relative;
}
#rightCol {
	float:right;
	width:733px;
}
#header {
	height:60px;
	background:#444344 url(../images/bg_header_v1.png) top left no-repeat;
	position:relative;
}
#logo {
	width:131px;
	height:27px;
	position:absolute;
	top:13px;
	left:25px;
}
#currentPlay {
	position:relative;
	background: #444344 url(../images/bg_currentPlay_v1.png) top right no-repeat;
	height:257px;
}
#currentPlayTag {
	width:100px;
	font-weight:bold;
	position:absolute;
	left:15px;
	top:110px;
	font-size:90%;
	
}
#player {
	position:relative;
}
#currentArtwork {
	width:245px;
	height:245px;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
}
#playerControls {
	margin-left:245px;
}
#lastPlayed {
	position:relative;
	float:right;
	width:245px;
	height:245px;
	overflow: hidden;
}
#lastPlayedOverlay {
	height:245px;
	width:245px;
	background-color:rgba(68,189,233,0.5);
	position:absolute;
	top:0;
	left:0;
}
#lastPlayedTextArea {	
	XXXXXbackground:transparent url(../images/previous_arrow_v1.png) right center no-repeat;
	height:70px;
	position:absolute;
	left:0;
	top:90px;
	
}
#lastPlayedText {
	width:165px;
	height:40px;
	margin-right:60px;
	padding:10px;
}
#player {
	width:830px;
	height:245px;
	float:right;
	
}

