

/* -------------  General Styles -------------- */

body {
	background:#000000;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
a img {
	border:0px;
}
a:link, a:visited {
	color:#fff;
	text-decoration: none;
}
a:hover {
	color:#3cc5e7;
	text-decoration: none;
}

.blackText {
	color:#000000;
}
.bold {
	font-weight:bold;
}

.subText_80 {
	padding-top:10px;
	font-size:80%;
}




/* -------------  Main Screen Page -------------- */
/*
#wrapper {
	width:1250px;
	height:1064px;
	margin:0px auto;
	padding:0px;
	position:relative;
}
#rightCol {
	float:right;
	width:733px;
}
#header {
	height:60px;
	background:#444344 url(../images/bg_header_v1.png) top left no-repeat;
	position:relative;
}
#logo {
	width:131px;
	height:27px;
	position:absolute;
	top:13px;
	left:25px;
}
#currentPlay {
	position:relative;
	background: #444344 url(../images/bg_currentPlay_v1.png) top right no-repeat;
	height:257px;
}
#currentPlayTag {
	width:100px;
	font-weight:bold;
	position:absolute;
	left:15px;
	top:110px;
	font-size:90%;
	
}
#player {
	position:relative;
}
#currentArtwork {
	width:245px;
	height:245px;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
}
#playerControls {
	margin-left:245px;
}
#lastPlayed {
	position:relative;
	float:right;
	width:245px;
	height:245px;
	overflow: hidden;
}
#lastPlayedOverlay {
	height:245px;
	width:245px;
	background-color:rgba(68,189,233,0.5);
	position:absolute;
	top:0;
	left:0;
}
#lastPlayedTextArea {	
	XXXXXbackground:transparent url(../images/previous_arrow_v1.png) right center no-repeat;
	height:70px;
	position:absolute;
	left:0;
	top:90px;
	
}
#lastPlayedText {
	width:165px;
	height:40px;
	margin-right:60px;
	padding:10px;
}
#player {
	width:830px;
	height:245px;
	float:right;
	
}
*/
