/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:970b10698a00f86cb4f01e439223184e$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(controls_27x27.png);}

.next {width:27px; height:27px; background-position: -27px -54px}
.next_hover {width:27px; height:27px; background-position: -0px -54px}
.pause {width:27px; height:27px; background-position: -27px -27px}
.pause_hover {width:27px; height:27px; background-position: -0px -27px}
.play {width:27px; height:27px; background-position: -27px -0px}
.play_hover {width:27px; height:27px; background-position: -0px -0px}
